
.popularAreas .react-multiple-carousel__arrow--left {
  display: none;
}

.popularAreas .react-multi-carousel-list {
  padding-top: 65px;
}

.popularAreas .react-multiple-carousel__arrow--right {
  right: calc(4% + -35px) !important;
  top: 0px !important;
  background-color: white !important;
  min-width: 35px;
  min-height: 35px;
}

.popularAreas .react-multiple-carousel__arrow--right::before {
  font-size: 15px;
  font-weight: 700;
  color: #0c0c0c;
}

.featuredApartments .react-multi-carousel-list {
  padding-bottom: 120px;
}

.featuredApartments .featuresApartments_item .react-multi-carousel-list {
  height: 100% !important;
}

.featuredApartments .featuresApartments_item .react-multi-carousel-dot-list {
  margin-bottom: 15px !important;
}

.featuredApartments .featuresApartments_item .react-multiple-carousel__arrow--right,
.featuredApartments .featuresApartments_item .react-multiple-carousel__arrow--left {
  top: 40% !important;
  background-color: white !important;
  min-width: 35px;
  min-height: 35px;
}

.featuredApartments .featuresApartments_item .react-multiple-carousel__arrow--right::before,
.featuredApartments .featuresApartments_item .react-multiple-carousel__arrow--left::before {
  font-size: 15px;
  font-weight: 700;
  color: #0c0c0c;
}

.downtown .react-multiple-carousel__arrow--left {
  right: calc(22% + 1px);
  left: initial;
  top: -4px;
  width: 32px;  
  min-width: 35px;
  min-height: 35px;
}

.downtown .react-multiple-carousel__arrow--right {
  top: -4px;
  min-width: 35px;
  min-height: 35px;
}

@media screen and (max-width: 425px) {
  .featuredApartments .react-multi-carousel-list {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .popularAreas .react-multiple-carousel__arrow--right {
    right: calc(4% + -5px) !important;
  }
}

@media screen and (max-width: 768px) {
  .popularAreas .react-multiple-carousel__arrow--right {
    right: calc(4% + 10px) !important;
  }
}